Homestead.json
Homestead.yaml
.env.example
.idea/*
.idea/workspace.xml
nbproject/
phpunit.xml
*node_modules*
.svn
.DS_Store
.svn/*
*.swp
.metadata/*
.metadata
*development*
*.tmp
#vim
*.un~
*.swp*
bower_components
dump.rdb
public/uploads/website/*
resources/views/test/*
.tags
.phpintel/*
.phpstorm.meta.php
_ide_helper*
.git/*
